.header {
    height: 4rem;

    .toolbar {
        display: flex;
        align-items: center;

        &_heading {
            flex: 1;
            font-family: myfont;
            font-size: 1.7rem;
            letter-spacing: 0.075rem;
            word-spacing: -0.0225rem;
            cursor: pointer;

            display: flex;
            align-items: center;
    
            &_img {
                height: 2.45rem;
                width: 2.45rem;            
            }

            span {
                margin-left: 0.4625rem;
                margin-top: -0.335rem;
            }
        }
    }
}